@import '../../theme/media'

.about-photo
  background-color: black;
  background-image: url("./assets/rightGrey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 17%;
  +widerthan(mobile)
    background-position right
+widerthan(mobile) { /* change layout on large screens */
  .thin-picture-text {
    text-align: right;
  }
  #about .row {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
