/* background grey: #fafafa */

/* didot */
@font-face {
  font-family: Didot Bold;
  src: url(Didot-Bold.ttf);
}

* {
  color: #000;
}

/* extending the grid for a 35% hack */
@media (min-width: 40.0rem){
  .row .column.column-offset-35 {
    margin-left: 35%;
  }
}

::selection {
  background: rgba(0, 0, 0, 0.8);
  color: #fafafa;
}
/* body */
body {
  background-color: #fafafa;
  line-height: 1.3;
  font-weight: 400;
}

/* container */
.container {
  max-width
}
/* navigation */
.navigation {
  padding-top: 12vh;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

/* page */
.page {
  min-height: 100vh;
}
@media (min-width: 40rem) {
  .page-large {
    min-height: 100vh;
  }
}
/* icon */
a.icon {
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  font-weight: 500;
}
a.icon-right {
  margin-right: 0;
}
a.icon-left {
  margin-left: 0;
}

/* default navbar styles */
svg.icon {
  fill: #fafafa;
  color: transparent;
  transition: .5s ease-in; /* transition back to low opacity goes slow -> fast */
}
svg.icon path { /* inherit color so it gets absorbed into the path */
  color:inherit;
}
a.icon {
  color: transparent;
  transition: .5s ease-in;
}

a.icon:active svg.icon{
  fill: #fafafa;
  color: transparent;
  transition: none; /* no transition when clicked */
}
.navigation:hover svg.icon, .navigation:hover a.icon {
  color: black;
  fill: black;
  transition: .5s ease-out; /* transition to high opacity goes fast -> slow */
}

/* divider */
hr {
  margin: 1em;
  border-top-color: #000;
}

/* flex-box stuff */
.hc-center {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family:Didot Bold;
  font-size: 10vw;
}
h1.title {
  text-align: center;
  white-space: nowrap;
  margin-top: 20px;/* top margin to match, and for small screens */
}

/* footer */
.footer { /* center footer text */
  text-align: center;
}
.footer p { /* give top margin to footer text */
  margin-top: 2.5rem;
}

/* work */
.fat-image { /* fat image */
  width: 100%;
}

.image-container {
  width: 100%;
  height: 30vh;
  margin-bottom: 2rem;
}
@media (min-width: 40rem) {  /* thin image */
  /* http://stackoverflow.com/a/11763434 */
  .thin-image-container { /* thin image */
    width: 50%;
    height: 70vh;
  }

  .fat-image-container { /* fat image */
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
  }
}

.about-photo {
  background-color: black;
  background-image: url("./grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 20%;
}

.create-photo {
  background-color: #efeff4;
  background-image: url("./groupButton.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 40rem) {  /* thin image */
  .create-photo {
    background-image: url("./newButton.png"), url("./groupButton.png"), url("./trashButton.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left 2rem top 2rem, center, right 2rem bottom 2rem;
  }
}

h6 { /* h6 for project titles */
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 1.6rem;
}
ul { /* style lists */
  list-style: none;
}
li { /* remove bodding padding from lists */
  margin-bottom: 0;
}
.column-photo { /* add space below photo */
  margin-bottom: 2rem !important;
}

/* about */
@media (max-width: 40rem) {
  #about .row { /* reverse flex box direction to put image on top */
    flex-direction: column-reverse;
  }
}
@media (min-width: 40rem) {
  .thin-picture-text { /* move text down on large layouts */
    text-align: right;
  }
  #about .row {
    align-items: flex-end;
  }
}

/* visible large or small */
@media (min-width: 40rem) {
  .visible-small {
    display: none;
  }
}
@media (max-width: 40rem) {
  .visible-large {
    display: none;
  }
}

/* debug utility */
/*
.container {
  background-color: rgba(144, 0, 0, 0.2);
}
* {
  border: 1px solid rgba(255, 0, 0, 0.3);
}
*/
