/* icon */
a.icon {
  color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror (Cthulu??) */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  line-height: 0;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}
a.icon-right {
  margin-right: 0;
}
a.icon-left {
  margin-left: 0;
}
