@import '../../theme/personalization'
@import '../../theme/media'

// didot
@font-face
  font-family Didot Bold
  src url("./assets/Didot-Bold.ttf")

//35% grid hack
+widerthan(mobile)
  .row .column.column-offset-35
    margin-left 35%

// flex-box stuff
.hc-center
  display flex !important
  flex-direction column
  justify-content center
.hc-bottom
  display flex !important
  flex-direction column
  justify-content flex-end

// visible large or small
+widerthan(mobile)
  .visible-small
    display none
+narrowerthan(mobile)
  .visible-large
    display none

// typography
h6 // h6 for project titles
  font-weight 700
  letter-spacing 0.02em
  font-size 1.6rem
ul // style lists
 list-style none
li // remove bottom margin from lists
 margin-bottom 0

// customize selection
::selection
  background app-text-selection-color

// cursor
html
  cursor url(./assets/cursor.svg) 15 15, auto

body
  background app-light-grey
// body color
#cad
  color black
  line-height 1.3
  font-weight 400

// larger fonts when large
+widerthan(mobile)
  body
    font-size 2rem
  h6
    font-size 2rem

// use custom cursor on links
a
  cursor url(./assets/pointer.svg) 15 15, pointer !important

// whole vertical screen when large
+widerthan(mobile)
  .page-large
    min-height 100vh

// divider
hr
  margin 1em
  border-top-color rgba(0, 0, 0, 0.6)

// images
.image-container
  width 100%
  padding-bottom 45%
  margin-bottom 2rem
+widerthan(mobile)
  .thin-image-container
    width 70%
    padding-bottom 130%
.column-photo// add space below column photo
  margin-bottom 2rem !important
