@import '../../theme/personalization'
@import '../../theme/media'

// flex-box stuff
.hc-center
  display flex
  flex-direction column
  justify-content center
.hc-bottom
  display flex
  flex-direction column
  justify-content flex-end

// visible large or small
+widerthan(mobile)
  .visible-small
    display none
+narrowerthan(mobile)
  .visible-large
    display none

// cursor
html
  cursor url(./assets/cursor.svg) 15 15, auto

body
  background app-light-grey
// body color
#cad
  color black
  line-height 1.4
h6
  font-size 1.6rem
// larger fonts when large
+widerthan(tallmobile)
  body
    font-size 2rem
  h6
    font-size 2rem

// use custom cursor on links
a
  cursor url(./assets/pointer.svg) 15 15, pointer !important

// whole vertical screen when large
+widerthan(mobile)
  .page-large
    min-height 100vh

// divider
hr
  margin 0
  border-top-color rgba(0, 0, 0, 0.6)

// images
.image-container
  width 100%
  padding-bottom 45%
  margin-bottom 2rem
+widerthan(mobile)
  .thin-image-container
    width 70%
    padding-bottom 130%
