.title
  font-family Didot Bold
  font-size 10vw
  text-align center
  white-space nowrap
  margin-top 2rem // top margin to match bottom margin given by milligram
  pointer-events none
.title::selection
  background rgba(0, 0, 0, 0.8)
  color #fafafa
