@import '../../theme/media'

/* only put center button when thin */
.create-photo {
  background-color: #efeff4;
  background-image: url("./assets/groupButton.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
/* put three buttons when fat */
+widerthan(mobile) {
  .create-photo {
    background-image: url("./assets/newButton.png"), url("./assets/groupButton.png"), url("./assets/trashButton.png");
    background-position: left 2rem top 2rem, center, right 2rem bottom 2rem;
  }
}
