@import '../media'

@font-face
  font-family Didot Bold
  src url("../assets/Didot-Bold.ttf")

p
  margin-top: 0
  margin-bottom 2rem
  letter-spacing 0.04em

h1, h6
  margin-bottom: 1.0rem
  margin-top: 0
  +widerthan(mobile)
    margin-bottom: 2.0rem

h1
  font-size: 4.0rem
  letter-spacing: .07em
  line-height: 1.2
  font-family Didot Bold
  +widerthan(mobile)
    font-size: 5.0rem

h1::selection
  background rgba(0, 0, 0, 0.8)
  color #fafafa

h6
  font-weight 400
  font-size 1.6rem
  line-height 1.4
  +widerthan(mobile)
    font-size 2rem

// customize selection
::selection
  background app-text-selection-color
